transformers>=4.26.0
datasets>=2.9.0
pytorch-lightning>=1.9.0
scikit-learn
pandas
wandb
rich
typer
loguru
bitsandbytes; platform_system=='Linux'
pytorch_optimizer
pyyaml

black
isort
ruff
mypy
ipywidgets
pre-commit
